$lightCyan: hsl(193, 38%, 86%) ;
$neoGreen: hsl(150, 100%, 66%);
$grayishBlue: hsl(217, 19%, 38%);
$darkGrayishBlue: hsl(217, 19%, 24%);
$darkBlue: hsl(218, 23%, 16%);
*{
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

body{    
    background: $darkBlue;    
    font-family: "Manrope"; 
    justify-content: center;
    align-items: center;  
    display: block;   
}

.containerGeral{    
    margin-top: 250px;
    margin-left: 650px;
    width: 630px;
    height: 460px;    
    justify-content: center;
    align-items: center;     
    background: $darkBlue;

    .containerGeradorConselho{
        display: block;        
        background-color:$darkGrayishBlue;
        width: 600px;
        height: 350px;          
        flex-direction: column;    
        border-radius: 10px;
    
        .tituloConselho{
            color: $neoGreen;
            text-align: center;        
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: -200px;       
        }
        .containerConselho{
            display: flex;
            height: 10;
            text-align: center;
            margin-left: 8%;
            margin-top: -54%;
            width: 500px;
            height: 200px;
            
            .conselho{
                color: hsl(193, 38%, 86%);
                font-size: 28px;
                font-weight: 800;
            }
        }     
    }

    .containerDivisor{
        display: flex;    
        width: 600px;
        height: 100px;        
        .divisorEsquerdo{
            background: white;
            width: 800px;
            height: 1px;
            opacity: 0.2;
            display: inline-block;
            margin-left: 50px;
            margin-top: 7px;
        }
        .divisorCentral{ 
            display: flex;       
            white-space: 10px;
            height: 25px;        
            color:$lightCyan;
            font-size: 30px;
            font-weight: 800;
            margin-left: 13px;
            margin-top: -10px;
            
        }
        .divisorDireito{
            background: $lightCyan;
            width: 800px;
            height: 1px;
            opacity: 0.2;
            display: inline-block;
            margin-right: 50px;
            margin-left: -140px;
            margin-top: 7px;
        }   
    }

    .button{
        position: relative; 
        overflow: hidden;
        transition: .2s;
        :hover{
            background: $neoGreen;
            box-shadow: 0 0 10px $neoGreen, 0 0 15px $neoGreen, 0 0 40px $neoGreen;        
        }
        .botaoDado{        
            position: relative;              
            width: 60px;
            height: 60px;
            margin-top: -29px;
            border-radius: 100%;
            border: 0px solid;
            background: $neoGreen;
            margin-left: 43%;
            cursor: pointer;
            .dado{        
                margin-left: 12px;
                margin-top: 17px;
            }
        }
    }
}